# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# log
C++_final/allegro.log
C++_final/log.txt

# visual studio
C++_final/Debug/
C++_final/C++_final.vcxproj
C++_final/C++_final.vcxproj.filters
C++_final/C++_final.vcxproj.user
C++_final/packages.config
.vs/
.vscode/
Debug/
packages/
C++_final.sln
# visual studio Additional Include Directory
C++_final/resource.h
C++_final/C++_final.aps
C++_final/C++_final.rc

# Clion
/cmake-build-debug/
CmakeLists.txt
/.idea/
/allegro5/


# thirdparty
/thirdparty/
/C++_final/include/
